@import '../../global-styles/variables.scss';

.loaderBox {
  position: relative;
  max-width: $max-desktop;
  min-height: 100vh;

  .loader {
    position: absolute;
    top: 40%;
    left: 35%;

    @media (min-width: $bp-sm) {
      left: 50%;
    }
  }
}
