@import '../../global-styles/variables';
@import '../../global-styles/mixins';

.cardWrapper {
  text-decoration: none;
  cursor: auto;

  .card {
    justify-self: center;
    max-width: 400px;
    height: 480px;

    @media (min-width: $bp-sm) {
      height: 530px;
    }

    .picture {
      height: 190px;

      @media (min-width: $bp-sm) {
        height: 217px;
      }
    }

    .cardContent {
      @include flex-column;
      padding: $gap-20;
      height: calc(100% - 190px);
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
      border-left: 1px solid $border;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &:last-child {
        padding-bottom: $gap-20;
      }

      @media (min-width: $bp-sm) {
        padding: $gap-25;
        height: calc(100% - 217px);
        &:last-child {
          padding-bottom: $gap-25;
        }
      }

      .date {
        @include flex-row;
        align-items: center;
        opacity: 0.6;

        p {
          margin-left: 8px;
          font-size: $fs-caption;
        }
      }

      .title {
        @include text-ellipsis(-webkit-line-clamp, 2);
        height: 58px;
        margin-top: $gap-20;
        margin-bottom: $gap-15;
        font-size: $fs-heading;
        line-height: 1.2em;

        @media (min-width: $bp-sm) {
          margin-top: $gap-25;
          margin-bottom: $gap-20;
        }
      }

      .description {
        @include text-ellipsis(-webkit-line-clamp, 4);
        font-size: $fs-text-sm;
        line-height: 1.5em;
      }

      .btn {
        align-self: flex-start;
        @include btn-overrides(margin-top, auto);

        & p {
          @include btn-text(margin-right, 6px);
        }
      }
    }
  }
}
