@import '../../global-styles/variables';

.container {
  max-width: $max-desktop;
  margin: 0 auto;

  .listWrapper {
    justify-content: center;
    padding-left: $gap-10;
    padding-right: $gap-10;

    @media (min-width: $bp-sm) {
      padding-left: $gap-15;
      padding-right: $gap-15;
    }
  }
}
